/*

Licensed to Crate (https://crate.io) under one or more contributor
license agreements.  See the NOTICE file distributed with this work for
additional information regarding copyright ownership.  Crate licenses
this file to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.  You may
obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
License for the specific language governing permissions and limitations
under the License.

However, if you have executed another commercial license agreement
with Crate these terms will supersede the license and you may use the
software solely pursuant to the terms of the relevant commercial agreement.
*/

@font-face {
  font-family: BlenderPro;
  src: url('/font/blender/BlenderPro-ThinWeb.eot');
  src: url('/font/blender/BlenderPro-ThinWeb.eot?#iefix') format('embedded-opentype'), url('/font/blender/BlenderPro-ThinWeb.woff') format('woff'), url('/font/blender/BlenderPro-Thin.ttf') format('truetype');
  font-weight: normal;
  /*font-weight: 300;*/
}
@font-face {
  font-family: BlenderPro;
  src: url('/font/blender/BlenderPro-BoldWeb.eot');
  src: url('/font/blender/BlenderPro-BoldWeb.eot?#iefix') format('embedded-opentype'), url('/font/blender/BlenderPro-BoldWeb.woff') format('woff'), url('/font/blender/BlenderPro-Bold.ttf') format('truetype');
  font-weight: bold;
  /*font-weight: 800;*/
}
.blender {
  font-family: BlenderPro;
}
body, .reveal {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #FFF;
  background-size: cover;
}
body .reveal .white, body .reveal .white h2 {
  color: #fff;
}
.reveal .slides>section {
  background-color: rgba(61, 116, 255, 0.77);
  padding: 40px;
}
.reveal a, .reveal a:visited {
  color: #fff;
  cursor: pointer;
}
.reveal h1, .reveal h2, .reveal h3 {
  font-family: BlenderPro;
  font-weight: 800;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 64px;
}
.reveal h2 {
  font-size: 1.6em;
  margin-top: 16px;
  margin-bottom: 16px;
}
.reveal h3 {
  color: inherit;
  font-size: 1.3em;
}
.reveal .sub-title {
  margin-bottom: 16px;
  font-size: 1.6em;
}
.reveal code {
  font-family: Inconsolata;
  padding: 16px;
  margin: 16px;
}
.reveal pre {
  font-family: Inconsolata;
  text-align: left;
}
.reveal pre th {
  padding-left: 10px;
  font-weight: 800;
  border-bottom: 1px solid black;
}
.reveal pre td {
  padding-left: 10px;
}
.reveal pre {
  box-shadow: none;
}
crate-result {
  font-family: Inconsolata;
  width: 90%;
  margin: auto;
  font-size: 20px;
  text-align: left;
  overflow-y: auto;

  height: 350px;
  display: block;
}

.crate-result-header {
  margin: 16px !important;
  padding: 16px !important;
  font-weight: bold !important;
}

.crate-result-header-cell {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.crate-result-duration {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-left: 16px !important;
  font-size: 16px !important;
}

.crate-result-table-cell {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
